.Redbox{
    width: 15.5vmax;
    height: 1.1vmax;
    margin-left: 7vw;
    background-color: #ca0000;
  }
  
  /* .line{
    width: 7vmax;
    height: 0.22vmax;
    background-color: rgb(202, 0, 0);
  } */
  
  .webname{
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    margin-left: 7vw;
    align-items: center;
  }
  
  .text h3{
     font-size: 3vmax;
     color: rgb(202, 0, 0);
  }

  @media (max-width:600px) {
    .Redbox{
      width: 30vmin;
    }
    /* .line{
      width: 7vw;
    } */
    .text h3{
      font-size: 5.4vw;
    }
  }


  